# font generator ignores
bmfont2c.*
*.fnt
*.png
*.exe
*.bmfc

# keil ignores
*.crf
*.d
*.o
*.petef
*.lst
*.htm
*.uvoptx
*.dep
*.axf
*.lnp
*.map
*.scvd
*.uvguix

# vscode ignores
.vscode
